@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    z-index: 100;
    top: 0;
  
    background-color: black;
    border-bottom: 1px solid white;
    padding: 1rem;
    font-size: 1rem;

}
#nav .brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  a{
    margin-left: 16px;
    color: white;
    text-decoration: none;
}
  
 
.text {
    font-weight: 400;
    font-size: 30px;
    margin: 0.5rem;
    text-align: center;
}
#container {
    margin-top: 2rem;
}
input {
    width: 95%;
    margin: 0.5rem;
    padding: 10px;
}
input:focus {
    outline: none;
}
.btn {
    border: 1px solid  #000000;
    background-color: black;
    padding: 0.5rem 2rem;
    color: white;
    margin: 0.5rem;
    cursor: pointer;
}
.btn:hover {
    border: 1px solid  #000000;
    background-color: white;
    padding: 0.5rem 2rem;
    color:  #000000;
}

.errorMsg {
    font-size: 20px; 
    font-weight: 400; 
    margin: 0.5rem;
    }

    .errorMsg1 {
        font-size: 20px; 
        font-weight: 400; 
        margin: 0.5rem;
        }